<div class="reset-password-container">
    <h2>Reset Your Password</h2>
  
    <form [formGroup]="resetForm" (ngSubmit)="onFormSubmit()">
      <div>
        <label for="password">New Password</label>
        <input type="password" id="password" formControlName="password" />
        <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
          Password must be at least 6 characters.
        </div>
      </div>
  
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" />
        <div *ngIf="resetForm.errors?.['mismatch']  && resetForm.get('confirmPassword')?.touched">
          Passwords do not match.
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
      <button type="submit" [disabled]="submitting || resetForm.invalid">Reset Password</button>
    </form>
  </div>
  