<footer class="text-white text-center py-0">
  <div class="container">
    <div class="d-flex justify-content-center gap-4">
      <div class="">
        <p class="mt-2 mb-0 small">&copy; 2025 NeosCoder</p>
      </div>
      <a href="https://facebook.com" target="_blank" class="text-white fs-4">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="text-white fs-4">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="text-white fs-4">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="text-white fs-4">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
