<h2 mat-dialog-title>
  Add Product Version
  <h5>
    <ng-container *ngIf="msg_error">
      <div class="text-danger">{{ msg_error }}</div>
    </ng-container>
    <ng-container *ngIf="msg_warning">
      <div class="text-warning">{{ msg_warning }}</div>
    </ng-container>
    <ng-container *ngIf="msg_info">
      <div class="text-info">{{ msg_info }}</div>
    </ng-container>
  </h5>
</h2>
<mat-dialog-content>
  <div class="card-body">
    <div class="d-flex flex-md-row flex-sm-column">
      <div class="col-12">
        <div class="card border-info mb-3" style="max-width: 100%">
          <div class="card-header">Define New Product Version</div>
          <div class="card-body">
            <form
              #form="ngForm"
              (ngSubmit)="onFormSubmit(form)"
              enctype="multipart/form-data"
            >
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Version</mat-label>
                      <input
                        matInput
                        #versionCtrl="ngModel"
                        [(ngModel)]="productVersion.version"
                        [matAutocomplete]="autoVersion"
                        placeholder=""
                        name="version"
                        class="form-control"
                        (ngModelChange)="onSearchChangeVersion($event)"
                        (keydown.space)="$event.preventDefault()"
                        (blur)="checkVersionUnique(versionCtrl)"
                        required
                      />
                      <mat-autocomplete #autoVersion="matAutocomplete">
                        <mat-option
                          *ngFor="let version of suggestions_version"
                          [value]="version"
                          (mouseenter)="showVersionOverlay($event, version)"
                          (mouseleave)="hideVersionOverlay()"
                        >
                          {{ version }}
                        </mat-option>
                      </mat-autocomplete>
                      <!-- Validation error message -->
                      <mat-error
                        *ngIf="
                          form.submitted &&
                          form.controls['version']?.hasError('required')
                        "
                      >
                        Version is required
                      </mat-error>
                      <mat-error *ngIf="isVersionUnique == false"
                        >Version Already Exists
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Version Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        id="versionDate"
                        name="versionDate"
                        [(ngModel)]="productVersion.versionDate"
                        (dateChange)="onProductVersionDateChange($event)"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <!-- Validation error message -->
                      <mat-error
                        *ngIf="
                          form.submitted &&
                          form.controls['versionDate']?.invalid
                        "
                      >
                        version Date is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Description</mat-label>
                      <textarea
                        matInput
                        placeholder=""
                        rows="1"
                        [(ngModel)]="productVersion.description"
                        name="desciption"
                        id="desciption"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group ng-wrapper">
                      <ng-select
                        name="cylindercompanyid"
                        [items]="cylinderCompanies$ | async"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Select Cylinder Company"
                        [(ngModel)]="cylindercompanyid"
                        [searchable]="true"
                        class="material-ng-select"
                        (change)="onSearch()"
                      >
                        <ng-template ng-option-tmp let-item="item">
                          <div
                            (mouseenter)="
                              showCommonOverlay(
                                $event,
                                'Cylinder Company',
                                item.name
                              )
                            "
                            (mouseleave)="hideCommonOverlay()"
                          >
                            {{ item.name }}
                          </div>
                        </ng-template>
                      </ng-select>
                      <!-- <div
                      *ngIf="
                        form.submitted &&
                        form.controls['cylindercompanyid']?.invalid
                      "
                      class="text-danger"
                    >
                      Cylinder Company is required
                    </div> -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group ng-wrapper">
                      <ng-select
                        name="printingcompanyid"
                        [items]="printingCompanies$ | async"
                        bindLabel="name"
                        bindValue="id"
                        placeholder="Select Printing Company"
                        [(ngModel)]="printingcompanyid"
                        [searchable]="true"
                        class="material-ng-select"
                        (change)="onSearch()"
                      >
                        <ng-template ng-option-tmp let-item="item">
                          <div
                            (mouseenter)="
                              showCommonOverlay(
                                $event,
                                'Printing Company',
                                item.name
                              )
                            "
                            (mouseleave)="hideCommonOverlay()"
                          >
                            {{ item.name }}
                          </div>
                        </ng-template>
                      </ng-select>
                      <!-- <div
                      *ngIf="
                        form.submitted &&
                        form.controls['printingcompanyid']?.invalid
                      "
                      class="text-danger"
                    >
                      Printing Company is required
                    </div> -->
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Cylinder PR</mat-label>
                      <input
                        matInput
                        [(ngModel)]="productVersion.cylinderPrNo"
                        placeholder=""
                        name="prno"
                        class="form-control"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Cylinder PO</mat-label>
                      <input
                        matInput
                        [(ngModel)]="productVersion.cylinderPoNo"
                        placeholder=""
                        name="prno"
                        class="form-control"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Print PR</mat-label>
                      <input
                        matInput
                        [(ngModel)]="productVersion.printingPrNo"
                        placeholder=""
                        name="printingPrNo"
                        class="form-control"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Print PO</mat-label>
                      <input
                        matInput
                        [(ngModel)]="productVersion.printingPoNo"
                        placeholder=""
                        name="printingPoNo"
                        class="form-control"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input
                      type="file"
                      class="form-control w-100"
                      multiple
                      (change)="onFilesSelected($event)"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div *ngFor="let file of selectedFiles">
                      <i
                        class="{{ getFileExtension(file.name) }}"
                        style="color: #5cb85c"
                        aria-hidden="true"
                      ></i>
                      {{ file.name }} [{{ (file.size / 1048576).toFixed(2) }}
                      MB]
                    </div>
                  </div>
                  <div class="col-md-6 mt-1">
                    <button type="submit" class="btn btn-success w-100">
                      Add Product Version
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div *ngIf="progress > 0">
                  Upload Progress: {{ progress }}%
                  <progress [value]="progress" max="100"></progress>
                </div>
              </div>
              <!-- 🔍 Debug output here
            <pre>{{ form.value | json }}</pre>
            <pre>Valid: {{ form.valid }}</pre>
            <pre>Is Version Unique: {{ isVersionUnique }}</pre>
             -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="prevProdVersions.length > 0">
    <div class="card-body">
      <div class="d-flex flex-md-row flex-sm-column">
        <div class="col-12">
          <div class="card border-info" style="max-width: 100%">
            <div class="card-header">Selected Files</div>
            <div class="card-body"></div>
            <div class="card-header">Previous Versions</div>
            <div class="card-body">
              <table
                class="table table-bordered table-responsive table-sm w-100"
              >
                <thead>
                  <th style="display: none">Id</th>
                  <th>Version</th>
                  <th>Version Dt</th>
                  <th>Description</th>
                  <th>Cylinder Company</th>
                  <th>Cylinder PR</th>
                  <th>Cylinder PO</th>
                  <th>Printing Company</th>
                  <th>Print PR</th>
                  <th>Print PO</th>
                  <th>Attachments</th>
                </thead>
                <tr *ngFor="let prevProdVersion of prevProdVersions">
                  <td style="display: none">
                    {{ prevProdVersion.id }}
                  </td>
                  <td>{{ prevProdVersion.version }}</td>
                  <td>
                    {{ prevProdVersion.versionDate | date : "mediumDate" }}
                  </td>
                  <td>{{ prevProdVersion.description }}</td>
                  <td>{{ prevProdVersion.cylinderCompany.name }}</td>
                  <td>{{ prevProdVersion.cylinderPrNo }}</td>
                  <td>{{ prevProdVersion.cylinderPoNo }}</td>
                  <td>{{ prevProdVersion.printingCompany.name }}</td>
                  <td>{{ prevProdVersion.printingPrNo }}</td>
                  <td>{{ prevProdVersion.printingPoNo }}</td>
                  <td>
                    <div
                      class=""
                      *ngFor="let attachment of prevProdVersion.attachments"
                    >
                      <a
                        href="{{ attachmentBaseUrl }}{{ attachment.name }}"
                        target="_blank"
                      >
                        <i
                          class="{{ getFileExtension(attachment.name) }}"
                          style="color: #5cb85c"
                          aria-hidden="true"
                        ></i>
                        {{ attachment.name }}
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
              <div></div>
            </div>
          </div>
        </div>
        <div class="col-4 bg-light"></div>
      </div>
      <div class="d-flex flex-md-row flex-sm-column">
        <div class="col-8 p-4"></div>
        <div class="col-4 p-4"></div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
