<div class="container-fluid">
    <h5 class="mt-3">Printing Company List</h5>
    <div class="d-flex justify-content-end mt-3">
      <a
        [routerLink]="['/admin/printingcompany/add']"
        routerLinkActive="router-link-active"
        class="btn btn-primary"
        >Add Printing Company</a
      >
    </div>
  
    <ng-container *ngIf="printingcompanies$ | async as printingcompanies">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th style="display: none;">Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let printingcompany of printingcompanies">
            <td style="display: none;">{{ printingcompany.id }}</td>
            <td>{{ printingcompany.name }}</td>
            <td>{{ printingcompany.description }}</td>
            <td>
              <a
                class="btn btn-light"
                [routerLink]="['/admin/printingcompany', printingcompany.id]"
                >
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  