<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5 class="mt-3">Add Product</h5>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/products']" class="btn btn-success"
          ><i class="bi bi-house-gear-fill"></i
        ></a>
      </div>
    </div>
  </div>

  <form
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    enctype="multipart/form-data"
  >
    <div class="mt-2">
      <div class="row">
        <div class="col-md-4">
          <div class="mt-3 form-group">
            <label for="categoryid" class="form-label">Category</label>
            <ng-select
              *ngIf="product"
              name="categoryid"
              [items]="categories$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Category"
              [(ngModel)]="product.categoryId"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-3 form-group">
            <label for="brand" class="form-label">Brand</label>
            <input
              *ngIf="product"
              type="text"
              id="brand"
              name="brand"
              class="form-control"
              [(ngModel)]="product.brand"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-3 form-group">
            <label for="projectid" class="form-label">Project</label>
            <ng-select
              *ngIf="product"
              name="projectid"
              [items]="projects$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Project"
              [(ngModel)]="product.projectId"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mt-2 form-group">
            <label for="flavourtype" class="form-label">Flavour</label>
            <input
              *ngIf="product"
              type="text"
              id="flavourtype"
              name="flavourtype"
              class="form-control"
              [(ngModel)]="product.flavourType"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-2 form-group">
            <label for="origin" class="form-label">Origin</label>
            <input
              *ngIf="product"
              type="text"
              id="origin"
              name="origin"
              class="form-control"
              [(ngModel)]="product.origin"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="sku" class="form-label">SKU</label>
            <input
              *ngIf="product"
              type="text"
              id="sku"
              name="sku"
              class="form-control"
              [(ngModel)]="product.sku"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mt-2">
            <label for="packtype" class="form-label">Pack Type</label>
            <input
              *ngIf="product"
              type="text"
              id="packtype"
              name="packtype"
              class="form-control"
              [(ngModel)]="product.packType"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="version" class="form-label">Version</label>
            <input
              *ngIf="product"
              type="text"
              id="version"
              name="version"
              class="form-control"
              [(ngModel)]="product.version"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="projectdate" class="form-label">Project Date</label>
            <input
              *ngIf="product"
              type="date"
              id="projectdate"
              name="projectdate"
              class="form-control"
              [(ngModel)]="product.projectDate"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mt-2">
            <label for="barcode" class="form-label">Barcode</label>
            <input
              *ngIf="product"
              type="text"
              id="barcode"
              name="barcode"
              class="form-control"
              [(ngModel)]="product.barcode"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="printingcompanyid" class="form-label"
              >Printing Company</label
            >
            <ng-select
            *ngIf="product"
              name="printingcompanyid"
              [items]="printingCompanies$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Printing Company"
              [(ngModel)]="product.printingCompanyId"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="cylindercompanyid" class="form-label"
              >Cylinder Company</label
            >
            <ng-select
              *ngIf="product"
              name="cylindercompanyid"
              [items]="cylinderCompanies$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Cylinder Company"
              [(ngModel)]="product.cylinderCompanyId"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row mt-3"></div>
      <div class="row">
        <div class="col-md-4">
          <ng-container *ngIf="attachment_list as attachments">
            <table class="table">
              <thead>
                <th>Existing Files</th>
                <th></th>
              </thead>
              <tr *ngFor="let attachment of attachments">
                <td>
                  <a
                    href="{{ attachmentBaseUrl }}{{ attachment.name }}"
                    target="_blank"
                    >{{ attachment.name }}</a
                  >
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger ms-3"
                    (click)="onDeleteAttachment(attachment.id)"
                  >
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
            </table>
          </ng-container>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="cylindercompanyid" class="form-label"
              >File Upload</label
            >
            <input
              type="file"
              class="form-control"
              (change)="onFilesSelected($event)"
              multiple
            />
          </div>
          <div class="card border-info mt-3 mb-3" style="max-width: 100%">
            <div class="card-header">Selected Files</div>
            <div class="card-body text-info">
              <div *ngFor="let file of selectedFiles">
                <i
                  class="{{ getFileExtension(file.name) }}"
                  style="color: #5cb85c"
                  aria-hidden="true"
                ></i>
                {{ file.name }} [{{ (file.size / 1048576).toFixed(2) }} MB]
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div *ngIf="progress > 0">
            Upload Progress: {{ progress }}%
            <progress [value]="progress" max="100"></progress>
          </div>
          <button type="submit" class="btn btn-primary">Save Product</button>
          <button
            type="button"
            class="btn btn-danger ms-3"
            (click)="onDeleteProduct()"
          >
            Delete
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mt-6"></div>
      </div>
    </div>
  </form>
</div>
<div
  class="images-container-modal"
  [ngClass]="{
    'd-block': isFileSelectorVisible,
    'd-none': !isFileSelectorVisible
  }"
>
  <button
    type="button"
    class="btn btn-dark"
    style="position: fixed; top: 60px; right: 10px"
    (click)="closeFileSelector()"
  >
    X
  </button>
  <app-file-selector></app-file-selector>
</div>
