<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h5 class="mt-3">Modify Product</h5>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/products']" class="btn btn-success"
          ><i class="bi bi-house-gear-fill"></i
        ></a>
      </div>
    </div>
  </div>

  <form
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    enctype="multipart/form-data"
  >
    <div class="mt-2">
      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 ng-wrapper">
            <label for="categoryid" class="material-label">Category</label>
            <ng-select
              *ngIf="product"
              name="categoryid"
              [items]="categories$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Category"
              [(ngModel)]="product.categoryId"
              [searchable]="true"
              class="material-ng-select"
              required
            >
            </ng-select>
            <div
              *ngIf="form.submitted && form.controls['categoryid']?.invalid"
              class="text-danger"
            >
              Category is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="brand" class="form-label">Brand</label>
            <input
              *ngIf="product"
              type="text"
              id="brand"
              name="brand"
              class="form-control"
              [(ngModel)]="product.brand"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="flavourtype" class="form-label">Flavour</label>
            <input
              *ngIf="product"
              type="text"
              id="flavourtype"
              name="flavourtype"
              class="form-control"
              [(ngModel)]="product.flavourType"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="origin" class="form-label">Origin</label>
            <input
              *ngIf="product"
              type="text"
              id="origin"
              name="origin"
              class="form-control"
              [(ngModel)]="product.origin"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="sku" class="form-label">SKU</label>
            <input
              *ngIf="product"
              type="text"
              id="sku"
              name="sku"
              class="form-control"
              [(ngModel)]="product.sku"
              (keydown.space)="$event.preventDefault()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group ng-wrapper">
            <label for="packTypeId" class="form-label material-label"
              >Pack Type</label
            >

            <ng-select
              *ngIf="product"
              name="packTypeId"
              [items]="packtypes$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Pack Type"
              [(ngModel)]="product.packTypeId"
              [searchable]="true"
              class="material-ng-select"
              required
            >
            </ng-select>
            <div
              *ngIf="form.submitted && form.controls['packtypeid']?.invalid"
              class="text-danger"
            >
              Pack Type is required
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="productcode" class="form-label">Product Code</label>
            <input
              *ngIf="product"
              type="text"
              id="productcode"
              name="productcode"
              class="form-control"
              [(ngModel)]="product.productCode"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="version" class="form-label">Version</label>
            <input
              *ngIf="product"
              type="text"
              id="version"
              name="version"
              class="form-control"
              [(ngModel)]="product.version"
              (keydown.space)="$event.preventDefault()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="barcode" class="form-label">Barcode</label>
            <input
              *ngIf="product"
              type="text"
              id="barcode"
              name="barcode"
              class="form-control"
              [(ngModel)]="product.barcode"
              (keydown.space)="$event.preventDefault()"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="projectdate" class="form-label">Project Date</label>
            <input
              *ngIf="product"
              type="date"
              id="projectdate"
              name="projectdate"
              class="form-control"
              [(ngModel)]="projectDateString"
              (ngModelChange)="onProjectDateChange($event)"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="mt-1 form-group ng-wrapper">
            <label for="cylindercompanyid" class="form-label material-label"
              >Cylinder Company</label
            >
            <ng-select
              *ngIf="product"
              name="cylindercompanyid"
              [items]="cylinderCompanies$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Cylinder Company"
              [(ngModel)]="product.cylinderCompanyId"
              [searchable]="true"
              class="material-ng-select"
              required
            >
            </ng-select>
            <div
              *ngIf="
                form.submitted && form.controls['cylindercompanyid']?.invalid
              "
              class="text-danger"
            >
              Cylinder Company is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group ng-wrapper">
            <label for="printingcompanyid" class="form-label material-label"
              >Printing Company</label
            >
            <ng-select
              *ngIf="product"
              name="printingcompanyid"
              [items]="printingCompanies$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Printing Company"
              [(ngModel)]="product.printingCompanyId"
              [searchable]="true"
              class="material-ng-select"
              required
            >
            </ng-select>
            <div
              *ngIf="
                form.submitted && form.controls['printingcompanyid']?.invalid
              "
              class="text-danger"
            >
              Printing Company is required
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3"></div>
      <div class="row">
        <div class="col-md-4">
          <ng-container *ngIf="attachment_list as attachments">
            <div class="table-responsive">
              <table class="table table-sm w-100">
                <thead>
                  <th></th>
                  <th>Existing Files</th>
                </thead>
                <tr *ngFor="let attachment of attachments">
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger ms-3"
                      (click)="onDeleteAttachment(attachment.id)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                  <td>
                    <a
                      href="{{ attachmentBaseUrl }}{{ attachment.name }}"
                      target="_blank"
                      >{{ attachment.name }}</a
                    >
                  </td>
                </tr>
              </table>
            </div>
          </ng-container>
        </div>
        <div class="col-md-4">
          <div class="mt-2">
            <label for="cylindercompanyid" class="form-label"
              >File Upload</label
            >
            <input
              type="file"
              class="form-control"
              (change)="onFilesSelected($event)"
              multiple
            />
          </div>
          <div class="card border-info mt-3 mb-3" style="max-width: 100%">
            <div class="card-header">Selected Files</div>
            <div class="card-body text-info">
              <div *ngFor="let file of selectedFiles">
                <i
                  class="{{ getFileExtension(file.name) }}"
                  style="color: #5cb85c"
                  aria-hidden="true"
                ></i>
                {{ file.name }} [{{ (file.size / 1048576).toFixed(2) }} MB]
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div *ngIf="progress > 0">
            Upload Progress: {{ progress }}%
            <progress [value]="progress" max="100"></progress>
          </div>
          <button type="submit" class="btn btn-primary">Save Product</button>
          <button
            type="button"
            class="btn btn-danger ms-3"
            (click)="onDeleteProduct()"
          >
            Delete
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mt-6"></div>
      </div>
    </div>
  
   <!-- 🔍 Debug output here        -->
   <pre>{{ form.value | json }}</pre>
   <pre>Valid: {{ form.valid }}</pre>
   <pre>Is Version Unique: {{ isVersionUnique }}</pre>

  </form>
</div>
<div
  class="images-container-modal"
  [ngClass]="{
    'd-block': isFileSelectorVisible,
    'd-none': !isFileSelectorVisible
  }"
>
  <button
    type="button"
    class="btn btn-dark"
    style="position: fixed; top: 60px; right: 10px"
    (click)="closeFileSelector()"
  >
    X
  </button>
  <app-file-selector></app-file-selector>
</div>
