.swal2-container {
  z-index: 2000 !important;
}

.size-100 {
  width: 100px;
}

.size-120 {
  width: 120px;
}

.size-150 {
  width: 150px;
}

.size-200 {
  width: 200px;
}

.editable-input {
  font-size: 13px;
  line-height: 1.2;

  .mat-form-field-wrapper {
    padding: 0 6px;
  }

  .mat-form-field-infix {
    padding: 2px 0 !important;
  }

  input.mat-input-element {
    height: 28px;
    padding: 2px 4px;
    font-size: 13px;
  }

  .mat-form-field-outline {
    border-width: 1px;
  }

  .mat-form-field-outline-thick {
    border-width: 1px;
  }
}

.attachment-list {
  padding-left: 16px;
  margin: 0;
  list-style: disc;
}
