<h2 mat-dialog-title>
  Modify Product
  <h5>
    <ng-container *ngIf="msg_error">
      <div class="text-danger">{{ msg_error }}</div>
    </ng-container>
    <ng-container *ngIf="msg_warning">
      <div class="text-warning">{{ msg_warning }}</div>
    </ng-container>
    <ng-container *ngIf="msg_info">
      <div class="text-info">{{ msg_info }}</div>
    </ng-container>
  </h5>
</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <form
      #form="ngForm"
      (ngSubmit)="onFormSubmit(form)"
      enctype="multipart/form-data"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="mt-1 ng-wrapper">
              <label for="categoryid" class="material-label">Category</label>
              <ng-select
                *ngIf="product"
                name="categoryid"
                [items]="categories$ | async"
                bindLabel="name"
                bindValue="id"
                placeholder="Select Category"
                [(ngModel)]="product.categoryId"
                [searchable]="true"
                class="material-ng-select"
                required
              >
              </ng-select>
              <div
                *ngIf="form.submitted && form.controls['categoryid']?.invalid"
                class="text-danger"
              >
                Category is required
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mt-1 form-group">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Brand</mat-label>
                <input
                  *ngIf="product"
                  matInput
                  [(ngModel)]="product.brand"
                  [matAutocomplete]="autoBrand"
                  placeholder=""
                  name="brand"
                  class="form-control"
                  (ngModelChange)="onSearchChangeBrand($event)"
                  required
                />
                <mat-autocomplete #autoBrand="matAutocomplete">
                  <mat-option
                    *ngFor="let brand of suggestions_brand"
                    [value]="brand"
                  >
                    {{ brand }}
                  </mat-option>
                </mat-autocomplete>
                <!-- Validation error message -->
                <mat-error
                  *ngIf="form.submitted && form.controls['brand']?.invalid"
                >
                  Brand is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mt-1 form-group">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Flavour</mat-label>
                <input
                  *ngIf="product"
                  matInput
                  [(ngModel)]="product.flavourType"
                  [matAutocomplete]="autoFlavourType"
                  placeholder=""
                  name="flavourType"
                  class="form-control"
                  (ngModelChange)="onSearchChangeFlavourType($event)"
                  required
                />
                <mat-autocomplete #autoFlavourType="matAutocomplete">
                  <mat-option
                    *ngFor="let flavourtype of suggestions_flavourtype"
                    [value]="flavourtype"
                  >
                    {{ flavourtype }}
                  </mat-option>
                </mat-autocomplete>
                <!-- Validation error message -->
                <mat-error
                  *ngIf="form.submitted && form.controls['brand']?.invalid"
                >
                  Flavour is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mt-1 form-group">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Origin</mat-label>
                <input
                  matInput
                  *ngIf="product"
                  [(ngModel)]="product.origin"
                  [matAutocomplete]="autoOrigin"
                  placeholder=""
                  name="origin"
                  class="form-control"
                  (ngModelChange)="onSearchChangeOrigin($event)"
                  required
                />
                <mat-autocomplete #autoOrigin="matAutocomplete">
                  <mat-option
                    *ngFor="let origin of suggestions_origin"
                    [value]="origin"
                  >
                    {{ origin }}
                  </mat-option>
                </mat-autocomplete>
                <!-- Validation error message -->
                <mat-error
                  *ngIf="form.submitted && form.controls['origin']?.invalid"
                >
                  Origin is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-1 form-group">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>SKU</mat-label>
                <input
                  matInput
                  *ngIf="product"
                  [(ngModel)]="product.sku"
                  [matAutocomplete]="autoSKU"
                  placeholder=""
                  name="sku"
                  class="form-control"
                  (ngModelChange)="onSearchChangeSKU($event)"
                  (keydown.space)="$event.preventDefault()"
                  required
                />
                <mat-autocomplete #autoSKU="matAutocomplete">
                  <mat-option *ngFor="let sku of suggestions_sku" [value]="sku">
                    {{ sku }}
                  </mat-option>
                </mat-autocomplete>
                <!-- Validation error message -->
                <mat-error
                  *ngIf="form.submitted && form.controls['sku']?.invalid"
                >
                  SKU is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-1 form-group ng-wrapper">
              <label for="packTypeId" class="form-label material-label"
                >Pack Type</label
              >

              <ng-select
                *ngIf="product"
                name="packTypeId"
                [items]="packtypes$ | async"
                bindLabel="name"
                bindValue="id"
                placeholder="Select Pack Type"
                [(ngModel)]="product.packTypeId"
                [searchable]="true"
                class="material-ng-select"
                required
              >
              </ng-select>
              <div
                *ngIf="form.submitted && form.controls['packtypeid']?.invalid"
                class="text-danger"
              >
                Pack Type is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mt-1 form-group">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Product Code</mat-label>
                <input
                  matInput
                  *ngIf="product"
                  [(ngModel)]="product.productCode"
                  [matAutocomplete]="autoProductCode"
                  placeholder=""
                  name="productCode"
                  class="form-control"
                  (ngModelChange)="onSearchChangeProductCode($event)"
                  (keydown.space)="$event.preventDefault()"
                  required
                />
                <mat-autocomplete #autoProductCode="matAutocomplete">
                  <mat-option
                    *ngFor="let productcode of suggestions_productcode"
                    [value]="productcode"
                    (mouseenter)="showProductCodeOverlay($event, productcode)"
                    (mouseleave)="hideProductCodeOverlay()"
                  >
                    {{ productcode }}
                  </mat-option>
                </mat-autocomplete>
                <!-- Validation error message -->
                <mat-error
                  *ngIf="
                    form.submitted && form.controls['productcode']?.invalid
                  "
                >
                  Product Code is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field appearance="outline" style="width: 80%">
                <mat-label>Barcode</mat-label>
                <input
                  matInput
                  *ngIf="product"
                  [(ngModel)]="ind_barcode"
                  [matAutocomplete]="autoBarcode"
                  placeholder=""
                  name="barcode"
                  class="form-control"
                  maxlength="13"
                  minlength="13"
                  (ngModelChange)="onSearchChangeBarcode($event)"
                  (keydown.space)="$event.preventDefault()"
                  (keypress)="allowOnlyDigits($event)"
                />
                <mat-autocomplete #autoBarcode="matAutocomplete">
                  <mat-option
                    *ngFor="let barcode of suggestions_barcode"
                    [value]="barcode"
                    (mouseenter)="showBarCodeOverlay($event, barcode)"
                    (mouseleave)="hideBarCodeOverlay()"
                  >
                    {{ barcode }}
                  </mat-option>
                </mat-autocomplete>
                <!-- Validation error message -->
                <!-- <mat-error
                  *ngIf="form.submitted && form.controls['barcode']?.invalid"
                >
                  Barcode is required
                </mat-error>
                <mat-error
                  *ngIf="
                    form.submitted &&
                    form.controls['barcode']?.hasError('minLength')
                  "
                >
                  Barcode must be at least 13 characters
                </mat-error>

                <mat-error
                  *ngIf="
                    form.submitted &&
                    form.controls['barcode']?.hasError('maxLength')
                  "
                >
                  Barcode must not exceed 13 characters
                </mat-error> -->
              </mat-form-field>
              <button
                type="button"
                class="btn p-0 border-0 bg-transparent ms-2"
                (click)="addToBarCodeList()"
              >
                <i class="bi bi-plus-circle-fill text-success fs-3"></i>
              </button>
            </div>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li *ngFor="let br_code of barcodes; let i = index">
                <button
                  type="button"
                  (click)="removeBarcodeFromList(i)"
                  class="btn p-0 border-0 bg-transparent"
                >
                  <i class="bi bi-trash-fill text-danger fs-5"></i>
                </button>
                {{ br_code.barCode }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Save Product</button>
            <button
              type="button"
              class="btn btn-danger ms-3"
              (click)="onDeleteProduct()"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Filter"
              />
            </mat-form-field>

            <table
              mat-table
              [dataSource]="dataSource_product_version"
              class="mat-elevation-z8"
              matSort
            >
              <!-- ID -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- Version (editable) -->
              <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef>Version</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRow !== row.id; else editVersion">
                    {{ row.version }}
                  </div>
                  <ng-template #editVersion>
                    <input
                      [(ngModel)]="row.version"
                      [matAutocomplete]="autoVersion"
                      name="version_{{ row.id }}"
                      class="editable-input size-200"
                      (ngModelChange)="onSearchChangeVersion($event)"
                      (keydown.space)="$event.preventDefault()"
                      required
                    />
                    <mat-autocomplete #autoVersion="matAutocomplete">
                      <mat-option
                        *ngFor="let version of suggestions_version"
                        [value]="version"
                      >
                        {{ version }}
                      </mat-option>
                    </mat-autocomplete>
                  </ng-template>
                </td>
              </ng-container>

              <!-- Version Date -->
              <ng-container matColumnDef="versionDate">
                <th mat-header-cell *matHeaderCellDef>Version Date</th>
                <td mat-cell *matCellDef="let row">
                  <!-- View mode -->
                  <div *ngIf="editingRow !== row.id; else editVersionDate">
                    {{ row.versionDate }}
                  </div>

                  <!-- Edit mode -->
                  <ng-template #editVersionDate>
                    <input
                      type="date"
                      [(ngModel)]="row.versionDate"
                      name="versionDate_{{ row.id }}"
                      class="editable-input size-120"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <!-- Description -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRow !== row.id; else editDescription">
                    {{ row.description }}
                  </div>
                  <ng-template #editDescription>
                    <input
                      [(ngModel)]="row.description"
                      name="description_{{ row.id }}"
                      class="editable-input size-150"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <!-- Cylinder Company ID -->
              <ng-container matColumnDef="cylinderCompanyId">
                <th mat-header-cell *matHeaderCellDef>Cylinder Company</th>
                <td mat-cell *matCellDef="let row">
                  <!-- View mode -->
                  <div *ngIf="editingRow !== row.id; else editCylinderCompany">
                    {{ getCylinderCompanyName(row.cylinderCompanyId) }}
                  </div>

                  <!-- Edit mode -->
                  <ng-template #editCylinderCompany>
                    <mat-form-field
                      appearance="outline"
                      class="editable-select size-150"
                    >
                      <mat-select
                        [(ngModel)]="row.cylinderCompanyId"
                        name="cylinderCompany_{{ row.id }}"
                      >
                        <mat-option
                          *ngFor="
                            let company of (cylinderCompanies$ | async) || []
                          "
                          [value]="company.id"
                        >
                          {{ company.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-template>
                </td>
              </ng-container>

              <!-- Printing Company ID -->
              <ng-container matColumnDef="printingCompanyId">
                <th mat-header-cell *matHeaderCellDef>Printing Company</th>
                <td mat-cell *matCellDef="let row">
                  <!-- View mode -->
                  <ng-container
                    *ngIf="editingRow !== row.id; else editPrintingCompany"
                  >
                    {{ getPrintingCompanyName(row.printingCompanyId) }}
                  </ng-container>

                  <!-- Edit mode -->
                  <ng-template #editPrintingCompany>
                    <mat-form-field
                      appearance="outline"
                      class="editable-select size-150"
                    >
                      <mat-select
                        [(ngModel)]="row.printingCompanyId"
                        name="printingCompany_{{ row.id }}"
                      >
                        <mat-option
                          *ngFor="
                            let company of (printingCompanies$ | async) || []
                          "
                          [value]="company.id"
                        >
                          {{ company.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-template>
                </td>
              </ng-container>

              <!-- Cylinder PR No -->
              <ng-container matColumnDef="cylinderPrNo">
                <th mat-header-cell *matHeaderCellDef>Cylinder PR</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRow !== row.id; else editCylinderPrNo">
                    {{ row.cylinderPrNo }}
                  </div>
                  <ng-template #editCylinderPrNo>
                    <input
                      [(ngModel)]="row.cylinderPrNo"
                      name="cylinderPrNo_{{ row.id }}"
                      class="editable-input size-100"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <!-- Cylinder PO No -->
              <ng-container matColumnDef="cylinderPoNo">
                <th mat-header-cell *matHeaderCellDef>Cylinder PO</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRow !== row.id; else editCylinderPoNo">
                    {{ row.cylinderPoNo }}
                  </div>
                  <ng-template #editCylinderPoNo>
                    <input
                      [(ngModel)]="row.cylinderPoNo"
                      name="cylinderPoNo_{{ row.id }}"
                      class="editable-input size-100"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <!-- Printing PR No -->
              <ng-container matColumnDef="printingPrNo">
                <th mat-header-cell *matHeaderCellDef>Printing PR</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRow !== row.id; else editPrintingPrNo">
                    {{ row.printingPrNo }}
                  </div>
                  <ng-template #editPrintingPrNo>
                    <input
                      [(ngModel)]="row.printingPrNo"
                      name="printingPrNo_{{ row.id }}"
                      class="editable-input size-100"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <!-- Printing PO No -->
              <ng-container matColumnDef="printingPoNo">
                <th mat-header-cell *matHeaderCellDef>Printing PO</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRow !== row.id; else editPrintingPoNo">
                    {{ row.printingPoNo }}
                  </div>
                  <ng-template #editPrintingPoNo>
                    <input
                      [(ngModel)]="row.printingPoNo"
                      name="printingPoNo_{{ row.id }}"
                      class="editable-input size-100"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                  <ng-container *ngIf="editingRow === row.id; else editBtn">
                    <button
                      type="button"
                      mat-button
                      color="primary"
                      (click)="saveRow(row)"
                    >
                      Save
                    </button>
                    <button type="button" mat-button (click)="cancelEdit()">
                      Cancel
                    </button>
                  </ng-container>
                  <ng-template #editBtn>
                    <button type="button" mat-button (click)="editRow(row)">
                      Edit
                    </button>
                  </ng-template>
                </td>
              </ng-container>

              <!-- Header & Row Declarations -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSize]="5"></mat-paginator>
          </div>
        </div>
      </div>

      <!-- 🔍 Debug output here 
      <pre>{{ form.value | json }}</pre>
      <pre>Valid: {{ form.valid }}</pre>
      <pre>Is Version Unique: {{ isVersionUnique }}</pre>
      -->
    </form>
  </div>
  <div
    class="images-container-modal"
    [ngClass]="{
      'd-block': isFileSelectorVisible,
      'd-none': !isFileSelectorVisible
    }"
  >
    <button
      type="button"
      class="btn btn-dark"
      style="position: fixed; top: 60px; right: 10px"
      (click)="closeFileSelector()"
    >
      X
    </button>
    <app-file-selector></app-file-selector>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
