<div class="container">
  <h5 class="mt-3">Product List</h5>

  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex">
      <input
        type="text"
        class="form-control"
        placeholder="search content"
        #queryText
      />
      <button
        type="button"
        class="btn btn-warning ms-1"
        (click)="onSearch(queryText.value)"
      >
        Search
      </button>
      <label for="pageSize" class="ms-1">Page Size</label>
      <select
        class="ms-1"
        name="pageSize"
        id="pageSize"
        #selectPageSize
        (change)="onPageSizeChange(selectPageSize.value)"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <a
      [routerLink]="['/admin/products/add']"
      class="btn btn-primary"
      routerLinkActive="router-link-active"
      >Add Product</a
    >
  </div>
  <ng-container *ngIf="products$ | async as products">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Category/Project/Brand</th>
          <th>Flavour/Origin/SKU</th>
          <th>Pack/Version/Barcode</th>
          <th>Cylinder/Printing</th>
          <th>Versions</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>
            Category: {{ product.category.name }} <br />
            Project: {{ product.productCode.name }} <br />
            Brand: {{ product.brand }}
          </td>
          <td>
            Flavour: {{ product.flavourType }} <br />
            Origin: {{ product.origin }} <br />
            SKU: {{ product.sku }}
          </td>
          <td>
            Pack: {{ product.packType }} <br />
            Version: {{ product.version }} <br />
            BarCode: {{ product.barcode }}
          </td>
          <td>
            Cylinder: {{ product.cylinderCompany.name }} <br />
            Printing: {{ product.printingCompany.name }} <br />
            Date: {{ product.projectDate | date : "mediumDate" }}
          </td>
          <td>
            <a class="text-primary"
              *ngFor="let productVersion of product.productVersions"
              (click)="showProductVersionModal(productVersion.id)"
              role="button"
              >{{ productVersion.version }} [{{
                productVersion.versionDate | date : "yyyy-MM-dd"
              }}] <a class="text-danger" (click)="deleteProductVersion(productVersion.id)"><i class="bi bi-trash3"></i></a> <br
            /></a>
          </td>
          <td>
            <a
              class="btn btn-primary"
              (click)="openProductVersionModal(product.id)"
              data-bs-toggle="tooltip"
              title="Add Product Version"
              ><i class="bi bi-cloud-plus-fill"></i
            ></a>
            <a
              class="btn btn-warning ms-1"
              [routerLink]="['/admin/products', product.id]"
              data-bs-toggle="tooltip"
              title="Edit Product Master"
            >
              <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="getPrevPage()">Previous</a>
        </li>

        <li *ngFor="let item of page_list; let index = index" class="page-item">
          <a class="page-link" (click)="getPage(index + 1)">{{ index + 1 }}</a>
        </li>

        <li class="page-item">
          <a class="page-link" (click)="getNextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </ng-container>
</div>
<div
  [ngClass]="{
    'd-block': isProductVersionModalVisible,
    'd-none': !isProductVersionModalVisible
  }"
  class="product-version-modal"
>
  <button
    type="button"
    class="btn btn-light"
    style="position: fixed; top: 60px; right: 10px"
    (click)="closeProductVersionModal()"
  >
    X
  </button>
  <app-add-productversion
    *ngIf="isProductVersionModalVisible"
    [data]="master_product_id"
    (refreshParent)="loadData()"
  ></app-add-productversion>
</div>
