<div class="container-fluid">
  <h5 class="mt-3">Add Product</h5>
  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/products']" class="btn btn-success"
      ><i class="bi bi-house-gear-fill"></i
    ></a>
  </div>
  <form
    #form="ngForm"
    (ngSubmit)="onFormSubmit()"
    enctype="multipart/form-data"
  >
    <div class="mt-2">
      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="categoryid" class="form-label">Category</label>
            <ng-select
              name="categoryid"
              [items]="categories$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Category"
              [(ngModel)]="categoryid"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="brand" class="form-label">Brand</label>
            <input
              type="text"
              id="brand"
              name="brand"
              class="form-control uppercase-only"
              [(ngModel)]="product.brand"
              (ngModelChange)="product.brand = product.brand.toUpperCase()" 
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="flavourtype" class="form-label">Flavour</label>
            <input
              type="text"
              id="flavourtype"
              name="flavourtype"
              class="form-control uppercase-only"
              [(ngModel)]="product.flavourtype"
              (ngModelChange)="product.flavourtype = product.flavourtype.toUpperCase()"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="origin" class="form-label">Origin</label>
            <input
              type="text"
              id="origin"
              name="origin"
              class="form-control uppercase-only"
              [(ngModel)]="product.origin"
              (ngModelChange)="product.origin = product.origin.toUpperCase()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="sku" class="form-label">SKU</label>
            <input
              type="text"
              id="sku"
              name="sku"
              class="form-control uppercase-only"
              [(ngModel)]="product.sku"
              pattern="^\S*$"
              (keydown.space)="$event.preventDefault()"
              (ngModelChange)="product.sku = product.sku.toUpperCase()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="packtypeid" class="form-label">Pack Type</label>
            <ng-select
              name="packtypeid"
              [items]="packtypes$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Pack Type"
              [(ngModel)]="packtypeid"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="productcode" class="form-label">Product Code</label>
            <input
              type="text"
              id="productcode"
              name="productcode"
              class="form-control uppercase-only"
              [(ngModel)]="product.productcode"
              (keydown.space)="$event.preventDefault()"
              (ngModelChange)="product.productcode = product.productcode.toUpperCase()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="version" class="form-label">Version</label>
            <input
              type="text"
              id="version"
              name="version"
              class="form-control uppercase-only"
              [(ngModel)]="product.version"
              pattern="^\S*$"
              (keydown.space)="$event.preventDefault()"
              (ngModelChange)="product.version = product.version.toUpperCase()"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="barcode" class="form-label">Barcode</label>
            <input
              type="text"
              id="barcode"
              name="barcode"
              class="form-control uppercase-only"
              [(ngModel)]="product.barcode"
              pattern="^\S*$"
              (keydown.space)="$event.preventDefault()"
              (ngModelChange)="product.barcode = product.barcode.toUpperCase()"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="projectdate" class="form-label">Project Date</label>
            <input
              type="date"
              id="projectdate"
              name="projectdate"
              class="form-control"
              [(ngModel)]="projectDateString"
              (ngModelChange)="onProjectDateChange($event)"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="cylindercompanyid" class="form-label"
              >Cylinder Company</label
            >
            <ng-select
              name="cylindercompanyid"
              [items]="cylinderCompanies$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Cylinder Company"
              [(ngModel)]="cylindercompanyid"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-1 form-group">
            <label for="printingcompanyid" class="form-label"
              >Printing Company</label
            >
            <ng-select
              name="printingcompanyid"
              [items]="printingCompanies$ | async"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Printing Company"
              [(ngModel)]="printingcompanyid"
              [searchable]="true"
            >
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="mt-2">
            <label for="cylindercompanyid" class="form-label"
              >File Upload</label
            >
            <input
              type="file"
              class="form-control"
              (change)="onFilesSelected($event)"
              multiple
            />
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="card border-info mb-3" style="max-width: 100%">
            <div class="card-header">Selected Files</div>
            <div class="card-body text-info">
              <div *ngFor="let file of selectedFiles">
                <i
                  class="{{ getFileExtension(file.name) }}"
                  style="color: #5cb85c"
                  aria-hidden="true"
                ></i>
                {{ file.name }} [{{ (file.size / 1048576).toFixed(2) }} MB]
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div *ngIf="progress > 0">
            Upload Progress: {{ progress }}%
            <progress [value]="progress" max="100"></progress>
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Save Product</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div
  class="images-container-modal"
  [ngClass]="{
    'd-block': isFileSelectorVisible,
    'd-none': !isFileSelectorVisible
  }"
>
  <button
    type="button"
    class="btn btn-dark"
    style="position: fixed; top: 60px; right: 10px"
    (click)="closeFileSelector()"
  >
    X
  </button>
  <app-file-selector></app-file-selector>
</div>
