<div class="container">
  <div class="mt-5">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <label>Your Email</label>
        <input formControlName="email" type="email" />
        <div *ngIf="submitted && forgotForm.get('email')?.errors">
          <span class="text-danger" *ngIf="forgotForm.get('email')?.errors?.['required']"
            >Email is required</span
          >
          <span class="text-danger" *ngIf="forgotForm.get('email')?.errors?.['email']"
            >Invalid email format</span
          >
        </div>

        <button type="submit" class="btn btn-primary mt-3">Send Reset Link</button>

        <div *ngIf="success">{{ success }}</div>
        <div *ngIf="error">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
