<div *ngIf="isHomePage" class="home-banner">
    <!-- Content Wrapper -->
    <div class="container">
      <!-- Dashboard Content -->
      <section class="content-header">
        <div class="container-fluid">
          <h1>Dashboard</h1>
        </div>
      </section>

      <section class="content">
        <div class="container-fluid">
          <!-- Cards Row -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>150</h3>
                  <p>New Projects</p>
                </div>
                <div class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>

            <div class="col-lg-3 col-6">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>53<sup style="font-size: 20px">%</sup></h3>
                  <p>Attachments</p>
                </div>
                <div class="icon">
                  <i class="fas fa-chart-line"></i>
                </div>
                <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
<router-outlet />
