<div class="container">
    <h5 class="mt-3">Product Code List</h5>
    <div class="d-flex justify-content-end mt-3">
      <a
        [routerLink]="['/admin/productcodes/add']"
        routerLinkActive="router-link-active"
        class="btn btn-primary"
        >Add Product Code</a
      >
    </div>
  
    <ng-container *ngIf="productcodes$ | async as productcodes">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th style="display: none;">Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productcode of productcodes">
            <td style="display: none;">{{ productcode.id }}</td>
            <td>{{ productcode.name }}</td>
            <td>{{ productcode.code }}</td>
            <td>{{ productcode.description }}</td>
            <td>
              <a
                class="btn btn-light"
                [routerLink]="['/admin/productcodes', productcode.id]"
                >
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
  