<h2 mat-dialog-title>View Product Version</h2>
<mat-dialog-content>
  <div class="card-body">
    <div class="d-flex flex-md-row flex-sm-column">
      <div class="col-8 --bs-warning-bg-subtle">
        <div class="card border-info">
          <div class="card-header">Product Master Information</div>
          <div class="card-body text-success">
            <div class="container">
              <div class="row">
                <div class="col-md-3 text-dark">Category</div>
                <div class="col-md-3">
                  {{ product?.category?.name }}
                </div>
                <div class="col-md-3 text-dark">Brand</div>
                <div class="col-md-3">
                  {{ product?.brand }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-dark">Flavour</div>
                <div class="col-md-3">{{ product?.flavourType }}</div>
                <div class="col-md-3 text-dark">Origin</div>
                <div class="col-md-3">{{ product?.origin }}</div>
              </div>
              <div class="row">
                <div class="col-md-3 text-dark">SKU</div>
                <div class="col-md-3">{{ product?.sku }}</div>
                <div class="col-md-3 text-dark">Bar Code</div>
                <div class="col-md-3">{{ product?.barcode }}</div>
              </div>
              <!-- <div class="row">
                <div class="col-md-3 text-dark">Project Date</div>
                <div class="col-md-3">
                  {{ product?.projectDate | date : "mediumDate" }}
                </div>
                <div class="col-md-3 text-dark">Printing Company</div>
                <div class="col-md-3">{{ product?.printingCompany?.name }}</div>
              </div>
              <div class="row">
                <div class="col-md-3 text-dark">Cylinder Company</div>
                <div class="col-md-3">{{ product?.cylinderCompany?.name }}</div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="card border-info mb-3" style="max-width: 100%">
          <div class="card-header">Product Version Information</div>
          <div class="card-body text-success">
            <div class="container">
              <div class="row">
                <div class="col-md-3 text-dark">Version</div>
                <div class="col-md-3">
                  <div *ngIf="product?.productVersions">
                    {{ product?.productVersions?.[0]?.version }}
                  </div>
                </div>
                <div class="col-md-3 text-dark">Version Date</div>
                <div class="col-md-3">
                  <div *ngIf="product?.productVersions">
                    {{ product?.productVersions?.[0]?.versionDate | date : "mediumDate" }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-dark">Description</div>
                <div class="col-md-9">
                  <div *ngIf="product?.productVersions">
                    {{ product?.productVersions?.[0]?.description }}
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-3 text-dark">Cylinder Company</div>
                <div class="col-md-3">
                  <div *ngIf="product?.cylinderCompany">
                    {{ product?.productVersions?.[0]?.cylinderCompany?.name }}
                  </div>
                </div>
                <div class="col-md-3 text-dark">Printing Company</div>
                <div class="col-md-3">
                  <div *ngIf="product?.printingCompany">
                    {{ product?.productVersions?.[0]?.printingCompany?.name }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 text-dark">PR No</div>
                <div class="col-md-3"><div *ngIf="product?.productVersions">
                    {{ product?.productVersions?.[0]?.prno }}
                  </div></div>
                <div class="col-md-3 text-dark">PO No</div>
                <div class="col-md-3"><div *ngIf="product?.productVersions">
                    {{ product?.productVersions?.[0]?.pono }}
                  </div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 bg-light">
        <div class="card border-info mb-3" style="max-width: 100%">
          <div class="card-header">Attachments</div>
          <div class="card-body text-info">
            <ng-container>
              <div *ngFor="let attachment of attachment_list">
                <a
                  href="{{ attachmentBaseUrl }}{{ attachment.name }}"
                  target="_blank"
                >
                  <i
                    class="{{ getFileExtension(attachment.name) }}"
                    style="color: #5cb85c"
                    aria-hidden="true"
                  ></i>
                  {{ attachment.name }}
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
